body{
    background-color: rgb(37, 34, 34);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite
    
}
header ,
section {
    background-color: rgb(107, 105, 105);
    box-shadow: 1px 1px 1px rgb(108, 108, 207);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}
h1,h2,h3 {
    text-align: center;
    font-size: large;
    padding: 1.5rem; 
}

ul,
a{  text-decoration: none;
    list-style: none;
    color: antiquewhite;
}
a{
    display: block;
}
li{
    display: inline-block;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

li:hover,
a:hover{
color: rgb(71, 122, 189);
}


img{
    width: 12rem;
    height: 7rem;
   
}
img:hover{
    transform: scale(1,1.15);
}

input,
textarea{
   display: block;
   margin: 1.5rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: rgb(37, 34, 34);
   color: antiquewhite;
}
form{
display: inline-block;
}
    
footer{
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(44, 41, 41);
    margin-bottom: 1rem;
}

.titulo
.descripcion{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(242, 250, 215);
    
}
.titulo{
    padding: 0.5rem;
    width: fit-content;
    background-color: rgb(117, 107, 107);
    border: solid 3px rgb(17, 15, 153);
    border-radius: 1rem; 
}
.descripcion{
    margin: 0.5rem;
    width: fit-content;
    background-color: rgb(117, 107, 107);
    border: solid 3px rgb(17, 15, 153);
    border-radius: 1rem; 
}
.imagen{
    
    padding: 0.5rem;
    border: solid 3px rgb(17, 15, 153);
    border-radius: 1rem;
}
.tarjeta{

    margin: 0.5rem;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    background-color: rgba(82, 62, 62, 0);
    border: solid 3px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#contenedordetarjetas{
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    height: fit-content;
    margin: 1rem auto; /* Ajustado el margen superior e inferior */
    background-color: rgb(117, 107, 107);
    border: solid 2px rgb(42, 17, 185);
    border-radius: 1rem; 
}
